<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="model" value="TEST"/>
    <add key="OverlayFacilityRegistry" value="E:\Development\Overlay\V3\Dev\Pilots\Ulysses Overlay V4\Release\4.0.0.5\Server - Authoring Tool\Bin\facilities.xml"/>
    <add key="OverlayLocalPath" value="E:\Development\Overlay\V3\Dev\Pilots\Ulysses Overlay V4\Projects\Server\Bin" />
    <add key="ModelFile" value="E:\Development\Overlay\V3\Dev\Pilots\Ulysses Overlay V4\Release\4.0.0.5\Server - Authoring Tool\Model\Model.csv"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="platformBasePath" value="E:\Development\Overlay\V3\Dev\Pilots\Ulysses Overlay V4\Release\4.0.0.5\Server - Authoring Tool\Bin" />
    <add key="PropagationInterval" value="1" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
   </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="servicebehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Ulysses.Overlay.v4.OverlayService" behaviorConfiguration="servicebehaviour">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="Ulysses.Overlay.v4.IOverlayService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>